/* add custom CSS here */


section.credits {
    display: none;
}


button[theme="dialogue"][icon="bhi-previous"][data-automation-id="back-button"] {
    display: none !important;
}

.novo-header{
display:none !important;
}

.background{
    background-color: transparent !important;
}

.app-info-chips {
    display: flex !important;
    flex-wrap: wrap !important;
    color: #00273D !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 168% !important; /* 23.52px */
}

.job-container {
    padding: 32px !important;
}

.job-title {
    font-family: Arial, sans-serif !important; /* Replace with actual font-family */
    color: #00273D !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 1.21em !important;
}

button[theme="primary"][data-automation-id="apply-button"] {
    display: flex !important;
    padding: 8px 16px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 8px !important;
    background: #0083CA !important;
}

.share {
    flex-wrap: wrap !important;
}
