/* add custom CSS here */


section.credits {
    display: none;
}


button[theme="dialogue"][icon="bhi-previous"][data-automation-id="back-button"] {
    display: none !important;
}

.novo-header{
display:none !important;
}

.background{
    background-color: transparent !important;
}
